/* Common styles  */
.html,body{
    font-family: "Poppins", sans-serif;
    margin: 50px 50px;
}
/* Header Section styles */
nav{
    display: flex;
    justify-content:space-between;
    

}
.nav-left   {
    margin-top: 15px;  
}
.nav-mid ul li {
    display: inline;
    padding-right: 20px;
}

#list-1{
    font-weight: 700;
    color: #111729;
}
.list-a{
    color:#223344 ;
}
.nav-right{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color:#223344 ;
    width: 45px;
    height: 20px;
    border-radius: 20px;
}
.nav-rightl img{
    
    height: 20px;

}
.nav-righter img{
    background-color: #fafafa;
    height: 20px;
    
    border-radius: 50%;
}
/* main body styles */
.main-container{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.main-left{
    width: 30%;
    height:auto
}
.main-right{
    width: 50%;
    height: auto;
}
.main-right img{
    width:100%;
}
.main-left-start{
    font-weight: 600;
    color: #111729;

}
.main-left-title{
    color: #223344;
    font-size: 4.2em;
    text-align: left;
}
.main-left-des{
    color: #909193;
    text-align: left;
}