/* Common styles  */
.html,body{
    font-family: "Poppins", sans-serif;
    background-color:#F2F9FE ;
    height: 100%;
}
/* Header Section styles */
nav{
    display: flex;
    justify-content:space-between;
    margin: 0 80px;

    

}
.nav-left   {
    padding-top: 20px;
   
     
}
.nav-mid ul li {
    display: inline;
    padding-right: 20px;
}
 
#list-1{
    font-weight: 700;
    color: #111729;
}
.list-a{
    color:#223344 ;
}
.nav-right{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color:#223344 ;
    width: 45px;
    height: 20px;
    border-radius: 20px;
}
.nav-rightl img{
    
    height: 20px;

}
.nav-righter img{
    background-color: #fafafa;
    height: 20px;
    
    border-radius: 50%;
}
/* main body styles */
.main-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.main-left{
    width: 40%;
    height: 100%;
    
}
.main-right{
    width: 40%;
    
   
}
.main-right img{
    padding-top: 50px;
    width:100%;
    height: auto;
}
.main-left-start{
    font-weight: 600;
    color: #111729;

}
.main-left-title{
    color: #223344;
    font-size: 4.8em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
.main-left-des{
    color: #909193;
    word-spacing: 2px;
   text-align: left;
}
.main-div-links button{
    padding:15px 30px;
    border-radius: 10px;
    background-color: #2A4DD0;
    color:#FFFFFF ;
    font-weight: 700;
    border: 0;
    margin-right: 20px;
}
.main-div-links a{
    color: #2A4DD0;
    font-weight: 600;
    text-underline-offset: 2px;
    padding-bottom: 5px;
    
}
.main-div-tick{
    display: flex;
  margin-top: 20px;
    
}
#sp{
    padding-right: 40px;
}